.ofertas {
  padding: 15px;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .container_promo {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }

}
